!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
      = html_title configatron.site_name
      = stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection'
      = stylesheet_link_tag 'blueprint/print.css', :media => 'print'
      /
        [if IE]><haml:loud> stylesheet_link_tag 'blueprint/ie.css', :media =&amp;gt; &amp;quot;screen, projection&amp;quot; </haml:loud><![endif]
      = stylesheet_link_tag 'application.css', :media => 'screen, projection'
      = javascript_include_tag :defaults
      = active_scaffold_includes
      = stylesheet_link_tag 'active_scaffold_overrides.css'
  %body{ :class => params[:action], :id => params[:controller] }
    = render :partial => 'layouts/account_bar'
    = render :partial => 'layouts/header'
    #content.clearfix
      #admin_nav
        = render :partial => 'admin/navigation'
      = yield
    = render :partial => 'layouts/footer'
